.item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 4px rgba(129, 133, 135);
  border-radius: 6px;
  background-color: #c7e1f2;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  width: 70%;
}

.item blockquote {
  text-align: left;
  font-size: 1.5rem;
  color: #212929;
}

.item blockquote p {
  display: inline-block;
  padding-right: 1rem;
}

.item p {
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #212929;
}
