.sorting {
	padding-bottom: 1rem;
	border-bottom: 3px solid #b2d4d4;
	margin-bottom: 2rem;
}

.sorting button {
	font-size: 1rem;
	color: #053352;
	border: 1px solid #77DEE2;
	background-color: transparent;
	border-radius: 4px;
	padding: 0.8rem 1.5rem;
	cursor: pointer;
}

.sorting button:hover {
	background-color: #c2fafa;
}

.list {
	list-style: none;
}

