* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Uchen", serif;
  background-color: #E1E8ED;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
